Header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 10svh;
}

Header > nav > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  height: 10svh;
}

Header a {
  color: var(--rtc-color-2);
  font-weight: bold;
  font-size: 30px;
}

.active {
  border-bottom: 3px solid var(--rtc-color-2);
}

@media (max-width: 480px) {
  Header a {
    font-size: 1rem;
  }
}
